.close {
  color: black;
  cursor: pointer;
  margin-right: 10px;

  &:hover {
    color: white;
  }
}

.alert__wrapper {
  max-width: 900px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 6px;
  font-size: 20px;
  color: black;

  &-auth {
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 6px;
    font-size: 20px;
  }
}
