.houses__wrapper {
  background-color: #f6fafb;
  min-height: 100vh;
  padding: 10px;
}

.spinner__wrapper {
  height: 100vh;
}

.bg-main {
  background-color: #f6fafb;
}

.house__creator__wrapper {
  background-color: #f6fafb;
  min-height: 100vh;
  padding: 10px;
  &-form {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    &-input {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid $gray-300;
      width: 100%;

      &:focus {
        border: 1px solid $primary;
        outline-color: $primary;
      }

      &-file {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.details-icon {
  font-size: 25px;
  color: $gray-700;
}
