.signup__wrapper {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.877),
      rgba(240, 237, 239, 0.781)
    ),
    url('../../assets/palm.jpg');
  background-size: cover;
  height: 100vh;
  padding: 0 40px;
}

.main-input {
  padding: 10px 20px;
  border: 1px solid $gray-300;
  border-radius: 30px;
  outline: none;
  width: 450px;
}

.carousel-indicators {
  margin-top: 50px;
  & > li {
    background-color: $primary;
  }
}

.border-card {
  border-radius: 0.25rem 0.25rem 0 0;
}

.carousel-inner {
  padding-bottom: 50px;
}
