@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '~bootstrap/scss/bootstrap';

$font-family-default: 'Roboto', sans-serif;
$gray-50: #f7f7f7;
$gray-200: #e5e7eb;
$gray-300: #d4d4d8;
$gray-400: #a1a1aa;
$gray-500: #71717a;
$gray-700: #3f3f46;
$gray-800: #1e293b;
$gray-900: #18181b;
$gray-999: #333;
$gray-1000: #131313;
$gray-1100: #000;
$primary: #ec5200;
$primary-light: #d64e05;
$blue-prime: #e7f0ff;

@import 'vendor/all';
@import 'components/all';
@import 'utils/all';
